<html xmlns:th="http://thymeleaf.org">
<head>
<title>Device page</title>
<link href="../styles/styles.css" rel="stylesheet" />
<!-- 
<link href="css/bootstrap.min.css" rel="stylesheet" />
 -->
</head>
<body>

	<div>
		<h1 th:text="${dev.devName} + '\'s personal page'"></h1>
	</div>
	<div class="dev-wrapper">
		<div class="dev-div">
			<!-- 			<p th:text="'Dev id is: ' + ${dev.id}" /> -->
			<p th:text="'IP: ' + ${dev.IP}" />
			<p th:text="'Port: ' + ${dev.port}" />
			<p th:text="'Type: ' + ${dev.devType}" />
			<p th:text="'addr: ' + ${dev.addr}" />

				<!-- 			<img th:src = "@{'../images/' + ${user.login} + '.jpg'}" /> -->
		</div>
	</div>
	<div>
		<a href="/"> Main page </a>
		<a href="/users">User Control for admin</a>
		<a href="/devices">Devices for engineer</a>
		<a href="/monitor">monitoring for viewer</a>
		<a href="/values">edit values for engineer</a>
		<a href="/logout">LOGOUT Nach!</a>
	</div>
	
</body>
</html>