<html xmlns:th="http://thymeleaf.org">
<head>
<title>R first page</title>
<!-- 
<link href="css/styles.css" rel="stylesheet" />
<link href="css/bootstrap.min.css" rel="stylesheet" />
 -->
</head>
<body>
	<div>
		<h1>MainPage loaded</h1>
	</div>
	<div>
		<h2>User principal //TODO</h2>
<!-- <div  class="user-div"> -->
<!-- 			<!-- <p th:text="'User id is: ' + ${user.id}" /> --> -->
<!-- 			<p th:text="'User name is: ' + ${loginedUserInfo.login}" /> -->
<!-- 			<p th:text="'ToString:  ' + ${loginedUser.role}" /> -->
<!-- 			<a th:href="@{'users/' + ${oneuser.id}}">More info</a> -->
<!-- 		</div> -->
		<a href="/users">User Control for admin</a>
	</div>
	<div>
		<a href="/devices">Devices for engineer</a>
	</div>
	<div>
		<a href="/monitor">monitoring for viewer</a>
	</div>
		<div>
		<a href="/logout">LOGOUT Nach!</a>
	</div>

</body>
</html>