<html xmlns:th="http://thymeleaf.org">
<head>
<title>webscada-monitor</title>
<link href="styles/styles.css" rel="stylesheet" />
<link href="styles/bootstrap.min.css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>

	<div>
		<h1 th:text="${title}"></h1>
	</div>
	<div>
		<table class="table">
			<tr>
				<th>Наименование</th>
				<th>Значение</th>
				<th>Ед.изм</th>
			</tr>
			<tr th:each="entry,stats: ${dataList}"
				th:with="onevalue=${entry.value}">
				<td th:text="${onevalue.name}"></td>
				<td th:text="${onevalue.number}"></td>
				<td th:text="${onevalue.units}"></td>
			</tr>
		</table>
	</div>
	<div>
		<table class="table">
			<tr>
				<th>DateTime</th>
				<th>Event</th>
				<th>User</th>
				<th>Device</th>
			</tr>
			<tr th:each="event: ${eventList}">
				<td th:text="${event.dateTime}"></td>
				<td th:text="${event.event}"></td>
				<td th:text="${event.user}"></td>
				<td th:text="${event.dev}"></td>
				<!-- 				TODO next version добавить квитирование <td th:text="'Квитирование: ' + ${event.chDate}"></td>-->
			</tr>
		</table>
	</div>
	<h3 th:text="${profile}"> </h3>
	<div>
		<a href="/users">User Control for admin</a> <a href="/devices">Devices
			for engineer</a> <a href="/monitor">monitoring for viewer</a> <a
			href="/monitor/events">Events for viewer</a> <a href="/values">edit
			values for engineer</a> <a href="/logout">LOGOUT !</a>
	</div>
</body>
</html>