<html xmlns:th="http://thymeleaf.org">
<head>
    <title>UseR registred</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../styles/styles.css" rel="stylesheet" />
    <link href="../../styles/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<h1 class="choose">You were registeRRRed</h1>
	
			<a href="/users">User Control for admin</a>
	
	
		<a href="/devices">Devices for engineer</a>
	
	
		<a href="/monitor">monitoring for viewer</a>
	
		
		<a href="/logout">LOGOUT Nach!</a>
</body>
</html>