<html xmlns:th="http://thymeleaf.org">
<head>
<title>User page</title>
<link href="../styles/styles.css" rel="stylesheet" />
<!-- 
<link href="css/bootstrap.min.css" rel="stylesheet" />
 -->
</head>
<body>

	<div>
		<h1 th:text = "${user.login} + '\'s personal page'" ></h1>
	</div>
	<div class = "user-description">
<!-- 		<div class = "user-div"> -->
			<p th:text="'User id is: ' + ${user.id}" />
			<p th:text="'User login is: ' + ${user.login}" />
			<p th:text="'User e-mail is: ' + ${user.email}" />
			<p th:text="'About user: ' + ${user.info}" />
			<img th:src = "@{'../images/' + ${user.login} + '.jpg'}" />
<!-- 		</div> -->
	</div>
</body>
</html>